body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  display: block;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #745785;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}
h3 {
  margin: 10px 0px 23px;
  font-family: Montserrat;
  color: #745785;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  display: block;
  width: auto;
  height: 70px;
  margin-bottom: 5px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: rgba(0, 0, 0, 0.83);
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}
.button {
  position: relative;
  left: 60px;
  display: block;
  max-width: 200px;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f3901d;
  box-shadow: rgba(255, 255, 255, 0.29) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.27) 0px 2px 11px 0px;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #f3901d;
  opacity: 0.65;
  -webkit-transition-delay: initial;
  transition-delay: initial;
}
.button:active {
  background-color: #333;
}
.button.w--current {
  background-color: #f3901d;
}
.button.contactus {
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 19px;
  background-color: rgba(184, 184, 184, 0.61);
  color: #f3901d;
  font-size: 20px;
  text-align: center;
}
.button.contactus:hover {
  background-color: rgba(0, 0, 0, 0.61);
  opacity: 1;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.button.solutionbutton {
  position: static;
  overflow-x: auto;
  overflow-y: auto;
  margin: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 10px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 17px;
}
.button.solutionbutton:hover {
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-transform: scale(1.18);
  -ms-transform: scale(1.18);
  transform: scale(1.18);
  color: #f3901d;
  font-weight: 400;
}
.section {
  padding-top: 65px;
  padding-bottom: 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.chekone-logo {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 60px;
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 10px;
  padding-top: 1px;
}
.chekone-logo:hover {
  opacity: 0.65;
}
.section-1 {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2px;
}
.navlinkstyle {
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 25px 25px 10px;
}
.navlinkstyle:hover {
  box-shadow: none;
  opacity: 0.65;
}
.navtitle {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 17px;
  line-height: 23px;
  font-weight: 700;
  text-align: center;
}
.navbackground {
  margin-top: 11px;
  background-color: transparent;
}
.orangetitle {
  margin-top: 0px;
  background-color: transparent;
  color: #f3901d;
  font-size: 30px;
  line-height: 38px;
  text-align: left;
}
.textstyle {
  overflow-x: visible;
  overflow-y: visible;
  height: auto;
  float: none;
  clear: none;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  list-style-type: disc;
}
.textstyle.textstyleorange {
  color: #f3901d;
  font-size: 17px;
  font-weight: 400;
}
.textstyle.troubleshoot {
  margin-right: 15px;
}
.page1margin {
  margin-top: 18px;
}
.orangesidebar {
  margin-bottom: 8px;
  padding-right: 10px;
  padding-bottom: 0px;
  background-color: #f3901d;
}
.deviceimage {
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: auto;
  margin-top: 13px;
  margin-right: 3px;
  margin-left: 6px;
  padding-right: 10px;
}
.formelement {
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  max-width: 200px;
  margin-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  float: left;
  border-radius: 9px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.formelement.displaynone {
  display: none;
}
.formelement.login-button {
  background-color: #f3901d;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 15px;
}
.headerleftcolumn {
  max-height: 110px;
  min-height: 0px;
  background-color: white;
}
.headerrightcolumn {
  min-height: 0px;
  background-color: white;
}
.loginformwrapper {
  display: block;
  width: 100%;
  margin-top: 35px;
  margin-bottom: auto;
}
.orangebarimage {
  display: inline-block;
  max-width: 100px;
  min-width: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-right: 10px;
  float: none;
}
.howitworks-flowimage {
  overflow-x: visible;
  overflow-y: visible;
  height: auto;
  max-height: 125px;
  max-width: 85px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: none;
}
.howitworks-flowtext {
  margin-top: 10px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 15px;
}
.listfontstyle {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
}
.sidebar {
  position: static;
  right: 0px;
  bottom: 0px;
  display: block;
  height: auto;
  max-height: 3000px;
  padding-left: 0px;
  background-color: rgba(0, 0, 0, 0.09);
}
.howitworks {
  height: 55px;
  margin-left: 0px;
  padding-top: 10px;
  padding-left: 10px;
}
.howitworkstable {
  background-color: rgba(0, 0, 0, 0.09);
}
.chekoneappimage {
  position: static;
  height: auto;
  max-height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  float: none;
}
.headingorange {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #f3901d;
  font-size: 30px;
  font-weight: 400;
}
.headingorange.sliderheading {
  margin-bottom: 0px;
}
.navbardisplaystyle {
  background-color: rgba(0, 0, 0, 0.70);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: white;
}
.chekoneforsecurity {
  margin-top: 14px;
}
.securityimage {
  max-width: 225px;
}
.slidebar {
  height: 200px;
  margin-top: 21px;
}
.securityslide1 {
  position: static;
  left: 0px;
  top: 30px;
  right: 0px;
  bottom: 2px;
  margin-top: 0px;
  float: none;
  text-align: left;
}
.slidebarbanner {
  top: 0px;
  height: 85px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.70);
  background-image: -webkit-linear-gradient(white, rgba(110, 110, 110, 0.52) 0%), -webkit-linear-gradient(#707070, white);
  background-image: linear-gradient(white, rgba(110, 110, 110, 0.52) 0%), linear-gradient(#707070, white);
}
.banner-slide {
  margin-top: 5px;
  margin-right: 41px;
  margin-left: 11px;
  padding-right: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: white;
  font-size: 15px;
  text-align: left;
}
.chekoneappicon {
  max-width: 75px;
  margin-top: 5px;
  margin-right: 14px;
  float: right;
}
.chekoneappicon:hover {
  opacity: 0.65;
}
.chekoneappicon.applist {
  margin-right: 5px;
  margin-bottom: 15px;
  margin-left: 0px;
  padding-left: 10px;
}
.bannerdiv {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  width: auto;
  float: none;
  text-align: center;
}
.chekoneapp-icon {
  float: right;
}
.chekonedevicew-labels {
  max-height: 500px;
}
.divslidebox {
  margin-top: 5px;
  margin-right: 75px;
  margin-left: 75px;
  text-align: left;
}
.nfctaghand {
  max-height: 400px;
  float: right;
}
.nfclogo {
  max-height: 75px;
  margin-top: 0px;
}
.apppricingtable {
  margin-top: 20px;
  margin-bottom: 20px;
}
.chekonedevicepricing {
  margin-top: 20px;
  margin-bottom: 20px;
}
.phone-msg-icon {
  display: block;
  max-width: 100px;
  float: right;
  text-align: right;
}
.nfc-div-block {
  margin-top: 15px;
}
.forgotpasswordlink {
  margin-left: 13px;
}
.formerrormessage {
  min-width: 210px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #ffdede;
}
.availableapp-list {
  margin-top: 24px;
  margin-right: 15px;
}
.apptitle {
  margin-bottom: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #f3901d;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
}
.url-text_link {
  color: #f3901d;
  text-decoration: none;
}
.howitworkstitle {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  float: none;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #f3901d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.comingsoonimage {
  float: none;
  text-align: center;
}
.hiw-div {
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
}
.topbanner {
  min-width: 0px;
  background-color: transparent;
}
.content {
  margin-top: 76px;
}
.usecaseindustryicon {
  max-width: 225px;
}
.orangetextstyle {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #f3901d;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}
.troubleshootchart {
  border-bottom-style: none;
  border-bottom-color: #474545;
}
.knownissues {
  border-bottom: 1px solid #303030;
}
.homepagetitle {
  margin-top: 40px;
  margin-bottom: 25px;
}
.homepagestockimage {
  margin-bottom: 10px;
}
.pagetitle {
  margin-top: 10px;
  margin-right: 10px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #f3901d;
  text-align: right;
}
.sidemenu {
  display: block;
  padding-right: 0px;
  background-color: #f4f4f4;
}
.sidemenu-heading {
  margin-bottom: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #f3901d;
  font-size: 27px;
  line-height: 41px;
}
.sidemenu-pages {
  position: static;
  display: block;
  padding: 2px 2px 2px 15px;
  float: left;
  direction: ltr;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: black;
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: none;
  text-indent: 0px;
  text-transform: none;
  list-style-type: disc;
}
.sidemenu-pages:hover {
  display: block;
  margin-right: 0px;
  padding-right: 0px;
  float: none;
  clear: none;
  background-color: #f3901d;
  color: white;
}
.sidemenu-pages.hide {
  display: none;
}
.menu-title {
  display: block;
}
.menu-title.hide {
  display: none;
}
.subheading {
  margin-bottom: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 15px;
  line-height: 18px;
}
.bar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10;
  display: block;
  height: auto;
  background-color: #444;
}
.logout-settings {
  float: right;
  color: white;
}
.dropdown {
  color: white;
  font-size: 13px;
}
.dropdownicon {
  color: #f3901d;
  font-size: 40px;
}
.dropdownicon:hover {
  box-shadow: none;
  opacity: 1;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.dropdownicon:active {
  box-shadow: none;
}
.downdownbox {
  position: fixed;
  top: 0px;
  right: 0px;
  margin-top: 0px;
  padding: 10px 20px 10px 100px;
}
.downdownbox.w--open {
  position: static;
  left: 13px;
  top: 0px;
  right: 0px;
  z-index: 0;
  padding-right: 10px;
}
.dropdownlnk {
  margin-right: 0px;
  float: none;
  background-color: #f3901d;
  text-align: left;
}
.dropdownlnk:hover {
  background-color: white;
}
.codebox {
  margin-top: 25px;
}
.optionicons {
  display: block;
  max-height: 50px;
  margin: 10px 10px 10px 0px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  clear: none;
  box-shadow: none;
}
.optionicons:hover {
  box-shadow: none;
  opacity: 1;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.optionicons.printericon {
  margin-right: -7px;
  box-shadow: none;
}
.title-and-buttons {
  background-color: transparent;
}
.sidemenudropdown {
  float: none;
}
.dropdowntoggle {
  position: relative;
  left: 0px;
  top: 0px;
  float: none;
}
.selectdropdown {
  display: block;
  max-width: 325px;
  margin-right: 5px;
  margin-left: 5px;
  float: left;
  border: 1px solid #a6a6a6;
  border-radius: 7px;
  background-color: #ededed;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #474747;
  font-weight: 400;
}
.webbutton {
  display: inline-block;
  margin: 2px 5px 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  float: none;
  border-radius: 10px;
  background-color: #f3901d;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.searchfield {
  display: inline-block;
  max-width: 325px;
  margin-left: 5px;
  float: none;
  border: 1px solid #a6a6a6;
  border-radius: 7px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.darktitle {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #444;
}
.moduleheading {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #f3901d;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
}
.module {
  margin-right: 10px;
}
.module:hover {
  border-radius: 15px;
  background-color: #e8e8e8;
}
.moduleicon {
  padding: 15px 15px 10px;
}
.modulelink {
  text-decoration: none;
}
.availablemodules {
  margin-top: 15px;
}
.buttonimage {
  float: right;
}
.webiconbutton {
  max-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 3px;
  padding-left: 3px;
  float: none;
}
.webiconbutton:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
.webicondiv {
  float: right;
}
.sectiontitle {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #f3901d;
  font-size: 32px;
  font-weight: 400;
}
.fieldtitle {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #444;
  font-size: 18px;
  font-weight: 400;
}
.add-editcontainer {
  overflow-x: visible;
  overflow-y: visible;
}
.inputfield {
  border: 1px solid #a6a6a6;
  border-radius: 7px;
  color: #333;
}
.add-edit-divbox {
  max-width: 500px;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 5px;
  padding-left: 5px;
}
.addressinput {
  max-height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.radiobutton:active {
  background-color: transparent;
}
.radiobox {
  max-width: 50px;
  margin-left: 5px;
  float: left;
}
.radio {
  float: left;
}
.viewdropdown {
  position: relative;
  left: 0px;
  top: 0px;
  display: block;
  padding: 0px;
  float: right;
  clear: none;
}
.dropdownlist.w--open {
  position: absolute;
}
.datefield {
  max-width: 100px;
  margin-left: 5px;
  float: left;
  border: 1px solid #a6a6a6;
  border-radius: 7px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.timefield {
  max-width: 75px;
  margin-left: 5px;
  float: left;
  border: 1px solid #a6a6a6;
  border-radius: 7px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.daterange {
  width: 35px;
  height: 37px;
  max-width: 50px;
  float: left;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 12px;
  text-align: right;
}
.daterangeform {
  display: block;
  padding-bottom: 5px;
}
.previewtitle {
  width: 200px;
  padding-right: 15px;
  float: left;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #444;
  font-size: 18px;
  font-weight: 400;
}
.previewfield {
  max-width: 325px;
  float: none;
  border: 1px solid #a6a6a6;
  border-radius: 7px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.numberbubble {
  position: relative;
  display: inline-block;
  margin-top: 6px;
  padding-right: 5px;
  padding-left: 4px;
  float: right;
  border-radius: 8px;
  background-color: #bd0909;
}
.numberbubble:hover {
  font-size: 14px;
}
.numberbubbletext {
  display: inline-block;
  color: white;
}
@media (max-width: 991px) {
  p {
    font-size: 14px;
    line-height: 21px;
  }
  .button {
    position: static;
    left: 0px;
    top: 0px;
  }
  .button.solutionbutton {
    overflow-x: visible;
    overflow-y: visible;
    direction: ltr;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0px;
    text-decoration: none;
  }
  .navlinkstyle {
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 2px 5px;
  }
  .navtitle {
    font-size: 12px;
  }
  .navtitle.pagebuttonstablet {
    font-size: 11px;
    line-height: 13px;
  }
  .navbackground {
    background-color: transparent;
  }
  .orangetitle {
    font-size: 24px;
  }
  .orangesidebar {
    display: block;
  }
  .deviceimage {
    display: none;
  }
  .orangebarimage {
    position: static;
    display: inline-block;
    overflow-x: visible;
    overflow-y: visible;
    max-width: 260px;
    float: none;
  }
  .howitworks-flowimage {
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    max-height: 70px;
    max-width: 70px;
    float: none;
  }
  .howitworks {
    height: auto;
    margin-right: 2px;
    padding-right: 5px;
  }
  .chekoneappimage {
    max-height: 200px;
    margin-left: 15px;
  }
  .banner-slide {
    margin-top: 2px;
    margin-right: 40px;
    font-size: 12px;
  }
  .nfclogo {
    margin-right: 8px;
    margin-left: 7px;
    padding-right: 13px;
    padding-left: 0px;
  }
  .phone-msg-icon {
    max-width: 100px;
    float: right;
  }
  .homepagetitle {
    margin-top: 10px;
  }
  .sidemenu {
    top: 46px;
  }
  .optionicons {
    max-height: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    box-shadow: none;
  }
  .selectdropdown {
    max-width: 300px;
  }
  .searchfield {
    max-width: 300px;
    margin-right: 5px;
  }
  .webiconbutton {
    max-height: 25px;
  }
  .daterange {
    text-align: left;
  }
}
@media (max-width: 767px) {
  h2 {
    margin-top: 0px;
  }
  .button {
    position: static;
  }
  .section {
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
  }
  .navlinkstyle {
    position: static;
    width: 155px;
    padding-top: 0px;
    padding-right: 32px;
    padding-bottom: 0px;
  }
  .navtitle {
    margin-right: 0px;
    margin-left: 27px;
    padding-right: 0px;
    text-align: left;
  }
  .orangesidebar {
    display: none;
  }
  .headerleftcolumn {
    display: none;
  }
  .headerrightcolumn {
    min-height: 107px;
  }
  .loginformwrapper {
    margin-top: 28px;
  }
  .howitworks-flowimage {
    position: static;
    overflow-x: visible;
    overflow-y: visible;
    list-style-type: disc;
  }
  .howitworks {
    position: static;
    width: auto;
    max-width: 70px;
    clear: none;
  }
  .navbardisplaystyle {
    float: none;
    background-color: #444;
    color: white;
    font-size: 13px;
  }
  .navlinkbutton {
    display: block;
    border-bottom: 1px solid white;
    background-color: #f3901d;
    font-size: 20px;
  }
  .navlinkbutton:hover {
    background-color: white;
    color: #f3901d;
  }
  .navlinkbutton.w--current {
    color: white;
    font-weight: 700;
  }
  .navlinkbutton.w--current:hover {
    background-color: white;
    color: #f3901d;
  }
  .phonenavbar {
    background-color: #444;
  }
  .menubutton.w--open {
    border-bottom: 1px solid white;
    background-color: #f3901d;
  }
  .menubutton.appselector {
    float: left;
  }
  .navicon {
    color: #f3901d;
    font-size: 40px;
    line-height: 10px;
  }
  .optionicons {
    box-shadow: none;
  }
  .selectdropdown {
    max-width: 250px;
  }
  .webbutton {
    float: none;
    clear: left;
  }
  .searchfield {
    max-width: 250px;
    margin-left: 5px;
  }
  .moduleicon {
    display: block;
    max-height: 100px;
    float: right;
    text-align: center;
  }
  .phonecolumn {
    display: block;
  }
  .navicondropdown {
    max-height: 25px;
    float: left;
  }
  .appselector {
    float: left;
  }
}
@media (max-width: 479px) {
  h3 {
    font-size: 18px;
    line-height: 23px;
  }
  .section {
    text-align: center;
  }
  .headerleftcolumn {
    display: none;
    max-height: 200px;
    min-height: 0px;
  }
  .headerrightcolumn {
    top: 0px;
    right: 0px;
    height: 100%;
    min-height: 0px;
  }
  .loginformwrapper {
    margin-top: 13px;
  }
  .navlinkbutton {
    border-bottom: 1px solid white;
    font-size: 17px;
  }
  .menubutton.w--open {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #f3901d;
  }
  .div-datetime {
    max-height: 40px;
  }
  .date-time {
    max-height: 40px;
  }
}

